[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipykernel = "*"
jupyter = "*"
xlrd = "*"
pandas-profiling = "*"
pytest = "*"
tensorboard = "*"

[packages]
scikit-learn = "*"
ipykernel = "*"
jupyter = "*"
numpy = "*"
pandas = "*"
plotly = "*"

[requires]
python_version = "3.8"
